<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337188672655-8g3sg78jrq4s3fgudf50oee645k8ophk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337188672655-8g3sg78jrq4s3fgudf50oee645k8ophk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>337188672655-0pc9386lpadfc51hs4t5m5f1her31t03.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBFZJZ948CEw0GNVzHwlbFNP2ionl1sDAo</string>
	<key>GCM_SENDER_ID</key>
	<string>337188672655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kapp.meetTogether</string>
	<key>PROJECT_ID</key>
	<string>meet-d9718</string>
	<key>STORAGE_BUCKET</key>
	<string>meet-d9718.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337188672655:ios:4952cbf4dd707d98fd0cfa</string>
</dict>
</plist>